.form_control {
    display: flex;
    justify-content: flex-end;
}

.btn{
    border-radius: 5px;
    background-color: #222;
    padding: 1em;
    color: #FFF;
    border: none;
    transition: .4s;
}

.btn:hover{
    background-color: #5c5b5b;
    cursor: pointer;
}