.formulario{
    background-color: rgb(231, 231, 231); 
    margin: 4% auto;
    width: 600px;
    padding: 1.5em;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;

}